/* general definitions */
:root {
    /* text */
    --v_white: #FFF;
    --v_red: #c51e27;
    --v_blue: #0039e6;
    --v_pruple: #a4287d;
    --v_fuchsia: #e600e6;
    --v_green: #0da50d;
    /* background */
    --v_grey: #1A1A1A;
    --v_silver: #C0C0C0;
    /* buttons */
    --v_lightGrey: #333333;
}

/* ========================================================================================
   TYPEFACE: Anta (Regular)
   Copyright 2019 The Anta Project Authors (https://github.com/Typedesigners/Anta-Regular)
   
   License: SIL Open Font License, Version 1.1 (OFL-1.1)
   The full text of the license is included in the project files (./fonts/OFL.txt)
   and is also available online at: https://openfontlicense.org
   ======================================================================================== */
@font-face {
    font-family: 'Anta';
    src: url('./fonts/Anta-Regular.ttf');
}

* {
    color: var(--v_white);
    font-family: 'Anta';
}

*:not(h1):not(h2):not(h3):not(h4) {
    font-size: 16px;
}

/* layout definition */
body {
    background-color: var(--v_lightGrey);
    background-attachment: fixed, fixed;
    background-image: url("../img/basic/nolja_nugget.png"), url("../img/basic/background.png");
    background-position: bottom 45px right 30px, center;
    background-repeat: no-repeat, no-repeat;
    background-size: 15%, cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    min-height: 100vh;
}

#layout {
    display: flex;
    flex: 1 1;
    overflow-y: hidden;
}

#options {
    background: var(--v_grey);
    flex: 1 1;
    padding: 5px;
    width: 5%;
}

#options>div {
    display: flex;
    flex: 0 0 100px;
    text-align: center;
    padding: 5px;
}

#main-wrapper {
    display: flex;
    flex: 20 20;
    flex-direction: column;
}

#main {
    display: flex;
    flex: 1 1;
    overflow-y: hidden;
}

#aside, #note {
    background: var(--v_grey);
    border-radius: 15px 9px 9px 15px;
    /*visibility: hidden;*/
}

#aside, #note>#note_content {
    overflow-y: scroll;
    padding: 15px;
}

#aside {
    flex: 3 3;
    margin: 15px 10px 15px 15px;
    width: 25%;
}

.navbar {
    background: var(--v_lightGrey);
    border-radius: 15px;
    margin: 5px;
    padding: 10px; 
}

.navbar::first-letter {
    text-transform: uppercase;
}

#note {
    display: flex;
    flex: 7 7;
    flex-direction: column;
    margin: 15px 15px 15px 10px;
    width: 70%;
}

#note, #note>#notebar {
    border-radius: 15px 15px 0px 0px;
}

#note>#notebar {
    align-items: center;
    background: var(--v_lightGrey);
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    padding: 5px;
}

#note>#notebar>#practice_options, #note>#notebar>#practice_options>*, #note>#notebar>#paginator {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: right;
    gap: 20px;
}

#note>#notebar>#issues {
    flex: 4 4;
}

#note>#notebar>#practice_options {
    flex: 2 2;
}

#note>#notebar>#practice_options>div {
    gap: 5px;
}

#note>#notebar>#paginator {
    flex: 1 1;
    gap: 0px;
    max-width: 100px;
}

#note>#note_content {
    height: 100%;
}

#note>#note_content .watermark {
    aspect-ratio: 2/1;
    bottom: 75px;
    height: auto;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
    right: 50px;
    user-select: none;
    width: clamp(60px, 15%, 175px);
}

#statusbar {
    align-items: center;
    background: var(--v_grey);
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    max-height: 35px;
    padding: 0 15px;
}

#statusbar>#settings {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: right;
    gap: 5px;
}

/* modal definition */
#spotify-wrapper {
    bottom: 36px;
    position: absolute;
    right: 15px;
    visibility: hidden;
    width: 400px;
    z-index: 999;
}

/* image definitions */
.icon {
    aspect-ratio: 1/1;
}

.menu_icon {
    height: 25px;
}

.logo {
    aspect-ratio: 2/1;
}

.logo.menu_icon {
    height: 14px;
}

select .menu_icon {
    height: 22px;
}

/* hover/selection interactions */
.navbar:hover, #settings>#music:hover, #settings>#support:hover {
    background: var(--v_blue);
}

.navbar.selected, #settings>.selected {
    background: var(--v_red) !important;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 0 10px 10px 0;
    box-shadow: inset 0 0 5px var(--v_lightGrey);
}

#note>#note_content::-webkit-scrollbar-track {
    border-radius: 0 0px 10px 0;
    box-shadow: inset 0 0 5px var(--v_lightGrey);
}

::-webkit-scrollbar-thumb {
    /* Handle */
    background: var(--v_red);
    border-radius: 0 10px 10px 0;
}

::-webkit-scrollbar-thumb:hover {
    /* Handle on hover */
    background: var(--v_blue);
}

/* links */
a:link {
    color: var(--v_blue);
}

a:visited {
    color: var(--v_red);
}

a:link:active, a:visited:active {
    color: var(--v_fuchsia);
}

/* titles */
h2, h3, h4 {
    border-bottom: 2px solid var(--v_white);
}

h2 {
    border-color: var(--v_blue);
    color: var(--v_blue);
}

h3 {
    border-color: var(--v_red);
    color: var(--v_red);
}

h4 {
    border-color: var(--v_pruple);
    color: var(--v_pruple);
}

/* split on columns without table */
.divCols {
    display: flex;
    gap: 20px;
}

.col {
    flex: 1;
}

/* practice module */
.mark, .success {
    color: var(--v_green);
}

.fail {
    color: var(--v_red);
}

.mark {
    font-weight: bold;
}

/* text highligts */
.mark_red {
    color: var(--v_red);
}

.mark_blue {
    color: var(--v_blue);
}

.mark_fuchsia {
    color: var(--v_fuchsia);
}

.mark_green {
    color: var(--v_green);
}

/* md files */
.md_code_line {
    background: var(--v_lightGrey);
    border: 1px solid var(--v_grey);
    border-radius: 5px;
    color: var(--v_blue);
    font-style: italic;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 8px;
}

.md_quote_block {
    background: var(--v_lightGrey);
    border-left: 5px solid var(--v_blue);
    border-radius: 5px;
    padding: 5px;
    padding-left: 10px;
}

/* customized select */
select, ::picker(select) {
    appearance: base-select;
}

select {
    border: none;
    background: var(--v_lightGrey);
    border-radius: 15px;
    padding: 5px;
}

select::picker-icon {
    content: url('../img/issues/arrow_d.png');
}

select:open::picker-icon {
    rotate: 180deg;
}

::picker(select) {
  border: none;
}

selectedcontent {
    align-items: center;
    display: flex;
    flex: 1 1;
    justify-content: left;
    gap: 5px;
}

option {
    align-items: center;
    background: var(--v_lightGrey);
    border: none;
    display: flex;
    justify-content: left;
    gap: 5px;
    padding: 5px;
}

option:first-of-type {
    border-radius: 10px 10px 0 0;
}

option:last-of-type {
    border-radius: 0 0 10px 10px;
}

::picker(select) {
    border-radius: 10px;
}

option:checked {
    background: var(--v_red) !important;
}

option:hover {
    background: var(--v_blue);
}

option::checkmark {
    content: none;
}
